In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import *

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1508,tt0420223,30000000,53653224,Stranger Than Fiction,Will Ferrell|Maggie Gyllenhaal|Dustin Hoffman|...,Marc Forster,Harold Crick isn't ready to go. Period.,Everybody knows that your life is a story. But...,113,Comedy|Drama|Fantasy|Romance,Mandate Pictures|Three Strange Angels,9/9/2006,6.9,2006
133,tt2872732,40000000,463360063,Lucy,Scarlett Johansson|Morgan Freeman|Choi Min-sik...,Luc Besson,The average person uses 10% of their brain cap...,"A woman, accidentally caught in a dark deal, t...",89,Action|Science Fiction,Universal Pictures|TF1 Films Production|Canal+...,7/14/2014,6.3,2014
1360,tt0382077,25000000,122644820,Hide and Seek,Robert De Niro|Dakota Fanning|Famke Janssen|El...,John Polson,"Come out, come out, whatever you are.",David Callaway tries to piece together his lif...,101,Horror|Mystery|Thriller,Twentieth Century Fox Film Corporation|Fox 200...,1/27/2005,6.2,2005
1381,tt0384806,19000000,108047131,The Amityville Horror,Ryan Reynolds|Melissa George|Jesse James|ChloÃ...,Andrew Douglas,What happened over the next 28 days has never ...,A family is terrorized by demonic forces after...,90,Horror|Thriller|Drama,Platinum Dunes|Dimension Films|Metro-Goldwyn-M...,4/15/2005,6.0,2005
1777,tt0427470,16000000,5367030,The Lookout,Joseph Gordon-Levitt|Jeff Daniels|Matthew Good...,Scott Frank,Whoever has the money has the power,Chris is a once promising high school athlete ...,99,Crime|Drama|Thriller,Miramax Films,3/9/2007,6.7,2007

In [0]:
data.describe()

# Предобработка

In [0]:
answers = {} # создадим словарь для ответов
data["profit"] = data["revenue"] - data["budget"]
data['month'] = data['release_date'].apply(lambda d: d.split('/')[0])
# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
def counter(movie_bd, x):
    data_tmp=movie_bd[x].str.cat(sep='|') # превращаем все в одну строку
    data_tmp=pd.Series(data_tmp.split('|')) # создаем список разделяя строку по '|'
    data_tmp=data_tmp.value_counts(ascending=False) # считаем количество элементов строке
    return data_tmp
def count_word(x):
    s=[]
    s=x.split()
    return(len(s))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [0]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [0]:
data[data.runtime == data.runtime.max()]

# 3. Какой из фильмов самый короткий (в минутах)?

In [0]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [ ]:
data[data.runtime == data.runtime.min()]

# 4. Какова средняя длительность фильмов?

In [0]:
answers['4'] = 110

In [ ]:
data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [0]:
answers['5'] = 107

In [ ]:
data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '239. Avatar (tt0499549)'

In [ ]:
data[data.profit == data.profit.max()]

# 7. Какой фильм самый убыточный?

In [0]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

In [ ]:
data[data.profit == data.profit.min()]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
answers['8'] = 1478

In [ ]:
data[data.revenue > data.budget].count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
answers['9'] = '599. The Dark Knight (tt0468569)'

In [ ]:
data[(data.revenue == data[data.release_year == 2008].revenue.max()) & (data.release_year == 2008)]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

In [ ]:
data[(data.profit == data[data.release_year.between(2012,2014)].profit.min()) & (data.release_year.between(2012,2014))]

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

In [ ]:
sum_gen=counter(data,'genres')
sum_gen[:1]

ВАРИАНТ 2

In [0]:
genres = pd.DataFrame(columns=['genre'])
for index, row in data.iterrows():
    step_g = pd.DataFrame(str.split(row.genres,sep='|'),columns=['genre'])
    genres = genres.append(step_g)
genres.genre.mode()

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = 'Drama'

In [ ]:
sum_gen=counter(data[data.profit > 0],'genres')
sum_gen[:1]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [0]:
answers['13'] = 'Peter Jackson'

In [ ]:
data_dir = data.director.str.cat(sep='|')
data_dir = pd.Series(data_dir.split('|'))
data_dir = data_dir.value_counts()
for i in data_dir.index:
    for a in data.index:
        if i in data.director[a]:
            data_dir[i] = data_dir[i] + data.revenue[a]
data_dir.idxmax()

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [0]:
answers['14'] = 'Robert Rodriguez'

In [ ]:
data_tmp = data[data.genres.str.contains("Action")]
sum_gen=counter(data_tmp,'director')
sum_gen[:1]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
answers['15'] = 'Chris Hemsworth'

In [ ]:
data = data[data.release_year == 2012]
data_dir = data.cast.str.cat(sep='|')
data_dir = pd.Series(data_dir.split('|'))
data_dir = data_dir.value_counts()
for i in data_dir.index:
    for a in data.index:
        if i in data.cast[a]:
            data_dir[i] = data_dir[i] + data.revenue[a]
data_dir.idxmax()

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [0]:
answers['16'] = 'Matt Damon'

In [ ]:
data = data[data['budget'] > data['budget'].mean()]
data_dir = data.cast.str.cat(sep='|')
data_dir = pd.Series(data_dir.split('|'))
data_dir = data_dir.value_counts()
data_dir.idxmax()

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [0]:
answers['17'] = 'Action'

In [ ]:
data = data[data.cast.str.contains('Nicolas Cage')]
sum_gen=counter(data,'genres')
sum_gen[:1]

# 18. Самый убыточный фильм от Paramount Pictures

In [0]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

In [ ]:
data = data[data.production_companies.str.contains('Paramount Pictures')]
data[data.profit.min() == data.profit]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [0]:
answers['19'] = 2015

In [ ]:
grouped = data.groupby('release_year').revenue.sum().sort_values(ascending=False).head(1)
print(grouped)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
answers['20'] = 2014

In [ ]:
data = data[data.production_companies.str.contains('Warner Bros')]
grouped = data.groupby('release_year').profit.sum().sort_values(ascending=False).head(1)
print(grouped)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
answers['21'] = 9

In [ ]:
gr = data.groupby('month').imdb_id.count().sort_values(ascending=False).head(1)
print(gr)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
answers['22'] = 450

In [ ]:
data = data[data.month.str.contains('6|7|8')]
gr = data.groupby('month').imdb_id.count().sum()
print(gr)

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
answers['23'] = 'Peter Jackson'

In [ ]:
months = ['12','1','2']
data_winter = data[data.month.isin(months)]
data_dir = data_winter.director.str.cat(sep='|')
data_dir = pd.Series(data_dir.split('|'))
data_dir = data_dir.value_counts()
data_dir.idxmax()

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
answers['24'] = 'Four By Two Productions'

In [ ]:
data['title_length'] = data.original_title.apply(len)
data_dir = data.production_companies.str.cat(sep='|')
data_dir = pd.Series(data_dir.split('|'))
data_dir = data_dir.value_counts()
for i in data_dir.index:
    data_dir[i] = data[data.production_companies.str.contains(i)].title_length.mean()
data_dir.idxmax()

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
answers['25'] = 'Midnight Picture Show'

In [ ]:
data['words_count']=data.overview.apply(count_word)
data_dir = data.production_companies.str.cat(sep='|')
data_dir = pd.Series(data_dir.split('|'))
data_dir = data_dir.value_counts()
for i in data_dir.index:
    data_dir[i] = data[data.production_companies.str.contains(i)].words_count.mean()
data_dir.idxmax()

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [ ]:
top_1 = data[data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average']]
display(top_1[['original_title']])

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = 'Daniel Radcliffe Rupert Grint'

In [ ]:
actor_data = data.cast.str.split('|').tolist()
list_actors = []
for i in actor_data:
    for j in combinations(i, 2):
        list_actors.append(' '.join(j))
list_actors = pd.DataFrame(list_actors)
list_actors.columns = ['actor_together']
list_actors = list_actors.actor_together.value_counts()
list_actors.idxmax()

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)